<h3>test 22</h3>

appTest

<div fxLayout="column" ngClass="container-to-flex">
    <div fxFlex="50" fxLayout="row" fxFlexAlign="start center">

        <span>
            <button mat-raised-button >Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button routerLink=".">Link</a>
            <button mat-icon-button matTooltip="Yes, i am button">
                <mat-icon color="primary">tag_faces</mat-icon>
            </button>
        </span>

    </div>
    <div fxLayout="row" fxFlex>
        <div fxLayout="row" fxFlex="50">

        </div>
        <div fxLayout="row" fxFlex="50">

        </div>
    </div>
</div>

